@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
}
html{
    /* -webkit-scroll-behavior: smooth; */
    scroll-behavior: smooth;
}
.max-width {
	max-width: 1400px;
	/* padding: 0 80px; */
	margin: auto;
}
button{
    cursor: pointer;
}
/* Animation Figure */
figure:hover{
    scale: 1.1;
    transition: all .2s ease-in-out;
}
/*** HEADER STYLE ***/
.navigation{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    margin-top: 20px;
}
.logo img{
    width: 60px;
}
.navigation ul {
    display: flex;
}
.navigation ul li {
    position: relative;
}
.navigation ul li a {
    font-size: 16px;
    color: black;
    margin: 0 15px;
    padding-top: 10px;
}

/* active button style */
.navigation ul li a::before{
    content: "";
    width: 160px;
    height: 2px;
    background-color: #0065FC;
    position: absolute;
    top: -20px;
    left: -20px;
    display: none;
}
.navigation ul li a:hover{
    color: #0065FC;
}
.navigation ul li a:hover::before{
    display: block;
}

/* *** */
/* Section FindLodging */
.findLodging{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.findLodging h1{
    font-size: 22px;
}
.findLodging p {
    margin-top: 10px;
}
.searchBar{
    display: flex;
    margin-top: 20px;
}
.searchBar .mapIcon{
    width: 50px;
    height: 49px;
    display: flex;
    background-color: #F2F2F2;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
}
input[type="search"]{
    width: 250px;
    height: 49px;
    text-align: center;
    border: 1px solid #F2F2F2;
}
input::placeholder {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
.searchBar input[type="button"]{
    width: 132px;
    border: none;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
    background: #0065FC;
    color: white;
    font-size: 18px;
    line-height: 21px; ;
}

/* Section Filtre */
.filtre{
    display: flex;
    margin-top: 30px;
    align-items: center;
}
.filtre h1{
    font-size: 18px;
    line-height: 21px;
    margin: 0 10px;
}
.filtre button {
    /* width: 100px; */
    height: 50px;
    margin: 0 10px;
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    padding: 15px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    background-color: white;
}
.filtre button:hover{
    background-color: #DEEBFF;
}
.filtre button i {
    margin-right: 15px;
    color: #0065FC;
}
/*** info ***/
.info{
    display: flex;
    align-items: center;
    margin: 30px 20px 20px 10px;
}
.info span{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    margin-right: 10px;
}
.info span i {
    color: #0065FC;
}

/* MAIN */
#lodging{
    width: 100%;
    /* height: 630px; */
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.lodgingMarseille{
    width:65%;
    height: 100%;
    background: #F2F2F2;
    border-radius: 20px;
    padding: 40px;
}
.lodgingMarseille h1{
    font-size: 22px;
    line-height: 26px;
}
.logements{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.logements a {
    width: 30%;
    height: 100%;
}
/* Card */
.card{
    width: 246px;
    height: 199px;
    background: #FFFFFF;
    border-radius: 20px;
    margin-top: 20px;
    padding: 4px;
}
.card img {
    width: 100%;
    height: 60%;
    border-radius: 20px 20px 0 0;
}
.card figcaption{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;
}
.card figcaption h3{
    font-size: 16px;
    line-height: 19px;
    color: black;
}
.card figcaption p {
    font-size: 14px;
    color: black;
}
.stars i{
    width: 12px;
    height: 12px;
    margin-right: 5px;
    color: #0065FC;
}
.stars i:last-child{
    color: #D9D9D9;
}

.see-more{
    margin-top: 30px;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    cursor: pointer;
}

/* ************* */
.mostPopular{
    width: 30%;
    /* height: 100%; */
    background: #F2F2F2;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shart-line{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.shart-line h1{
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
}
.shart-line i{
    height: 15.75px;
    width: 18px;
    color: #0065FC;
}

/* *** Most popular Card */
.popularLodging{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}
.mostPopularCard{
    width: 343px;
    height: 144px;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    padding: 4px;
    background: #FFFFFF;
}
.mostPopularCard img{
    width: 43%;
    border-radius: 20px 0px 0px 20px;
}
.mostPopularCard figcaption{
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
}
.mostPopularCard figcaption h3{
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.mostPopularCard figcaption p{
    margin-top: 5px;
    font-size: 14px;
    color: #000000;
}
.mostPopularCard figcaption .stars{
    position: absolute;
    bottom: 5px;
}

/* ***** */
#activity{
    margin-top: 30px;
}
#activity h2{
    font-size: 22px;
    line-height: 26px;
}
.theActivities{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.activityCard{
    height: 444.5px;
    width: 302px;
    border-radius: 20px;
    -webkit-box-shadow: 5px 6px 20px 6px rgba(0,0,0,0.32); 
    /* box-shadow: 5px 6px 20px 6px rgba(0,0,0,0.32); */
}
.activityCard img{
    width: 100%;
    height: 90%;
    border-radius: 20px 20px 0 0;
}
.activityCard figcaption{
    display: flex;
    height:10%;
    align-items: center;
}
.activityCard figcaption h3{
    margin-left: 20px;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

/****** FOOTER ******/
footer{
    display: flex;
    position: relative;
    top: 50px;
    height: 225px;
    /* padding: 15px; */
    background: #F2F2F2;
}
footer section{
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-left: 20px;
}
footer section article{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 40px;
}
footer article h3{
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 20px;
}
footer article a{
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
    color: #000000;
}