@media (max-width:768px) {
    /* HEADER */
    .navigation{
        flex-direction: column;
        align-items: center;
    }
    .navigation ul{
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 20px;
    }

    /* *** à changer */
    .filtreItems{
        flex-wrap: wrap;
    }

    /* *** */
    .searchBar button{
        display: block;
    }
    .searchBar input[type="button"]{
        display: none;
    }

    /* *** */
    #lodging{
        flex-direction: column-reverse;
    }
    .popularLodging{
        flex-direction: column;
    }
    .popularLodging a{
        width: 100%;
        margin-bottom: 10px;
    }

    /* **** */
    .logements{
        flex-direction: column;
    }
    .logements a {
        width: 100%;
    }
    /*  */
    .theActivities{
        flex-direction: column;
    }
    .navBottom{
        flex-direction: column;
    }
}