@media (max-width:768px) {
    .max-width{
        padding: 0;
    }
    .findLodging, .filtre, .info, #activity{
        padding: 0 5%;
    }
    /* HEADER */
    .navigation{
        flex-direction: column;
        align-items: center;
    }
    .navigation ul{
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 20px;
    }

    /* *** à changer */
    .filtreItems{
        flex-wrap: wrap;
    }

    /* *** */
    .searchBar button{
        display: block;
    }
    .searchBar input[type="button"]{
        display: none;
    }

    /* *** */
    #lodging{
        flex-direction: column-reverse;
        gap: 20px;
        padding: 0;
    }
    .popularLodging{
        flex-direction: column;
    }
    .popularLodging a{
        width: 100%;
        margin-bottom: 10px;
    }

    /* **** */
    .lodgingMarseille, .mostPopular{
        border-radius: 0px;
    }
    .lodgingMarseille{
        background-color: #fff;
    }
    .logements{
        flex-direction: column;
    }
    .logements a {
        width: 100%;
    }
    /*  */
    #activity{
        margin-top: 80px;
    }
    .theActivities{
        flex-direction: column;
    }
    .navBottom{
        flex-direction: column;
    }
    /* ** */

    .see-more{
        display: none;
    }
}